# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
current
berlin/keystore
berlin/password.txt
frankfurt/keystore
frankfurt/password.txt
yogyakarta/keystore
yogyakarta/password.txt
boot.key
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
